

body {
  background-color: #E8DDCB;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #705848;
  color: #F5F5F5;
  padding: 1rem;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

#show-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-form label,
#show-form input,
#show-form button {
  margin-bottom: 1rem;
}

#show-form input,
#show-form button {
  padding: 0.5rem;
  font-size: 1rem;
}

#show-form button[type="submit"] {
  background-color: #8F7A66;
  color: #F5F5F5;
}

#show-form button[type="reset"] {
  background-color: #705848;
  color: #F5F5F5;
}

#show-list {
  width: 30%;
}

#show-list h2 {
  margin-bottom: 1rem;
}

#show-list ul {
  list-style-type: none;
  padding: 0;
}

#show-list li {
  background-color: #8F7A66;
  color: #F5F5F5;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#map-shows {
  background-color: #705848;
  color: #F5F5F5;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 20%;
  text-align: center;
}

footer {
  background-color: #705848;
  color: #F5F5F5;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #F5F5F5;
}